<h1>Scammers Guide</h1>
<h4>Login Up</h4>
<form class="login-form" action="/auth/login" method="POST">
    <label class="label" for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email" required>

    <label class="label" for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password" required>

    <input type="submit" value="Log In">
</form>