<h1>Scammers Guide</h1>
<h4>Sign Up</h4>
<form class="signup-form" action="/auth/signup" method="POST">
    <label class="label" for="new-email">Email</label>
    <input id="new-email" type="email" name="email" required>

    <label class="label" for="new-name">Name</label>
    <input id="new-name" type="text" name="name" required>

    <label class="label" for="new-password">Password</label>
    <input id="new-password" type="password" name="password" required>

    <input type="submit" value="Sign up">
</form>