<h1>Scammers Guide</h1>
<nav class="hover-nav">
    <ul>
        <li class="profile"><a href="#">My Profile</a></li>
        <li class="watchlist"><a href="#">My Watchlist</a></li>
        <li class="logout"><a href="#">Logout</a></li>
    </ul>
</nav>
<h3 id="welcome">Welcome <%= name %></h3>

<div class="frosted">
    <div class="glass">
        <p>Name: <%= name %></p>
        <p>Email: <%= email %></p>
    </div>
    
</div>

