<h1>Scammers Guide</h1>
<nav class="hover-nav">
    <ul>
        <li class="profile"><a href="#">My Profile</a></li>
        <li class="watchlist"><a href="#">My Watchlist</a></li>
        <li class="logout"><a href="#">Logout</a></li>
    </ul>
</nav>
<div class="card">
    <div class="card-side front">
        <div id="cp">Company Profile</div>
        <div class="categories">
            <div>Name</div>
            <div>Description</div>
            <div>Industry</div>
            <div>Leadership</div>
            <div>Ticker Symbol</div>
            <div>Country</div>
            <div>Currency</div>
            <div>Exchange</div>
            <div>IPO Date</div>
        </div>
    </div>
    <div class="card-side back">
        <div>Financial Health</div>
    </div>
</div>
<script>

</script>