<h1>Scammers Guide</h1>
<nav class="hover-nav">
    <ul>
        <li class="profile"><a href="/profile">My Profile</a></li>
        <li class="watchlist"><a href="#">My Watchlist</a></li>
        <li class="logout"><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<br>
<br>
<br>
<h4>Results</h4>
<section>
    <div class="main-panel">
        <div class=container-one>
            <div class="container">
                <table>
                    <tr>
                        <th>Ticker Symbol</th>
                        <th>Company Name</th>
                        <th>Type</th>
                    </tr>
                    <% for( let index=0; index < data.result.length; index++ ) { %>
                        <% let stock=data.result[index] %>
                            <tr>
                                <td> <a href="/companyProfile/<%= stock.symbol %>">
                                    <%= stock.symbol %>
                                </a>
                                </td>
                                <td>
                                    <%= stock.description %>
                                </td>
                                <td>
                                    <%= stock.type %>
                                </td>
                            </tr>
                            <% } %>
                </table>
            </div>
        </div>
    </div>
</section>