<h1>Scammers Guide</h1>
<nav class="hover-nav">
    <ul>
        <li class="profile"><a href="/profile">My Profile</a></li>
        <li class="watchlist"><a href="#">My Watchlist</a></li>
        <li class="logout"><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<div class="search">
    <form action="/dashboard" method="POST">
        <label id="search-text" for="symbol">Search Stock</label>
        <input id="search-box" type="text" name="symbol" required>

        <input type="submit" value="Search">
    </form>
</div>